.chat_head_container {
    display: flex;
    background-color: #1E2635;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;

    .text_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 24px;
        width: 100%;

        .address {
            font-size: 12px;
            margin: 0;
            padding: 0;
        }

        .text {
            @extend .address;
            width: 100%;
            font-size: 12px;
            margin-top: 4px;

            
        }
    }
}

@media (min-width: 720px) {
    .chat_head_container {
        padding: 32px;

        .text_container {
            padding: 0 32px;

            .address {
                font-size: 16px;
            }

            .text {
                font-size: 24px;
                margin-top: 8px;
            }
        }

    }
}