.playButton {
    background-color: #D0DB97;
    padding: 16px 64px;
    border-radius: 8px;
    font-family: "RetroGaming", sans-serif;
    max-width: 200px;
}

.darkGreenButton {
    background-color: #254D32;
    padding: 16px 32px;
    border-radius: 8px;
    color: white;
    stroke: none;
    font-family: "RetroGaming", sans-serif;
}