.navigation_container {
    display: flex;
    justify-content: end;
    margin-top: 32px;

    .navigation {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        font-size: 16px;
        // border: white solid;

        .navigation_text {
            padding: 0 8px;
            cursor: pointer;
            font-size: 12px;

            &:hover {
                background-color: #ffffff33;
            }
        }

        .hidden {
            display: none;
        }
    }
}

@media (min-width: 720px) {
    .navigation_container {
        .navigation {
            width: 650px;
        }
    }
}