.navigation_container {
    display: flex;
    justify-content: end;
    margin-top: 32px;

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 500px;
        font-size: 16px;

        .navigation_text {
            padding: 0 8px;
            cursor: pointer;

            &:hover {
                background-color: #ffffff33;
            }
        }

        .hidden {
            display: none;
        }
    }
}