.metamask_container {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background: rgba( 105, 181, 120, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 500px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin: 16px;
    }
}