.requirement_container{
    li {
        margin: 16px 0;
    }
}

@media screen {
    .requirement_container {
        h2 {
            font-size: 12px;
        }

        li {
            font-size: 12px;
        }
    }
}