.promotional_box_container {
    background-color: #69B578;
    padding: 32px 16px;
    border-radius: 24px;
    color: #254D32;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: -1;
    text-align: center;

    
}

@media (min-width: 720px) {
    .promotional_box_container {
        border-radius: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: -1;
        text-align: left;
        height: 250px;
        margin: 32px;
    }
}