.world_container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100px;
        position: absolute;
    }

    .rick {
        visibility: hidden;
    }

    .pacman_ghost {
       visibility: hidden;
    }

    .circle2 {
        visibility: hidden;
    }

    .square2 {
        visibility: hidden;
    }
}

@media (min-width: 720px) {
    .world_container {
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            width: 200px;
        }
    
        .rick {
            visibility: visible;
            rotate: 60deg;
            position: absolute;
            z-index: -1;
            width: 120px;
        }
    
        .pacman_ghost {
            visibility: visible;
            z-index: -1;
            position: absolute;
            rotate: -30deg;
            transform: rotateY(180deg);
            width: 160px;
        }
    
        .circle2 {
            visibility: visible;
            position: absolute;
            z-index: -1;
            width: 120px;
            opacity: 1;
        }
    
        .square2 {
            visibility: visible;
            position: absolute;
            width: 100px;
            rotate: 45deg;
            z-index: -1;
        }
    }
    
}